.KnowledgeGraph {
	border: 1px solid #ccc;
}

.KnowledgeGraphPopupMenu {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 160px;
	border: 1px solid #ccc;
	height: auto;
	background: white;
	box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.12);
}

.KnowledgeGraphPopupMenu ul {
	margin: 0;
	padding: 0;
	padding-right: 16px;
}

.KnowledgeGraphPopupMenu li {
	width: 100%;
	padding: 8px;
	list-style: none;
	cursor: pointer;
}

.KnowledgeGraphPopupMenu li span {
	margin-right: 8px;
}

.KnowledgeGraphPopupMenu li:hover {
	background: #e8e8e9;
}

.KnowledgeGraphTable .vis-configuration-wrapper {
	width: auto;
}

.OOUI-dialogs-non-modal {
	position: -webkit-sticky;
	position: sticky;
	bottom: 1em;
	width: 100%;
	background-color: #fff;
}

.OOUI-dialogs-non-modal .oo-ui-window {
	border: 1px solid #a2a9b1;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
	position: relative;
	margin: 0 32px;
}

.KnowledgeGraphTable .oo-ui-toolbar-position-top>.oo-ui-toolbar-bar {
	border-bottom: none;
	box-shadow: none;
}

.legend-element-container {
	margin: 2px;
	padding: 4px;
}

.kg-node-properties-menu li.kg-node-properties-menu-link-entry:hover,
.kg-node-properties-menu li.kg-node-properties-menu-property-entry:hover,
.kg-node-properties-menu li.kg-node-properties-menu-edge-entry:hover {
	background-color: #e0f0ff;
	cursor: pointer;
}

.kg-node-properties-menu {
	position: absolute;
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px;
	list-style: none;
	z-index: 10000;
	max-height: 300px;
	overflow-y: auto;
	margin: 0;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.kg-node-properties-menu-property-entry-selected {
	font-style: italic;
	font-weight: bold;
	color: #2B7CE9;
}